<article>
  <a href="{{ .content.link_url }}" class="shadow-1 db no-underline rich-black">
    <img
      src="{{ .content.image }}"
      alt="{{ .content.image_alt }}"
      class="w-100"
    />
    <div class="pb3 ph3">
      <h2 class="michigan-blue">{{ .content.heading }}</h2>
      <p>{{ .content.text }}</p>
      <div>{{ .content.link_text }} ></div>
    </div>
  </a>
</article>
