<footer class="bg-michigan-blue white f5">
  <div class="mw8 center ph3 pv5 pb2">
    <div class="flex-l justify-between">
      <div class="flex justify-center justify-start-l">
        <div class="flex-b-75 flex-b-auto-l mr4 mr0-l">
          <img
            class="mr4"
            src="img/block-m.svg"
            alt="University of Michigan Logo"
          />
        </div>

        <div>
          <div class="michigan-maize fw9 mb1">
            Division Name
          </div>

          <a
            class="db white mb1 hover-white"
            href=""
            >Office of the Vice President for Global Communications</a
          >

          <a class="db white mb1 hover-white" href="https://umich.edu/"
            >University of Michigan</a
          >

          <address>
            <div class="mv2 overflow-hidden">
              <a
                href="https://www.google.com/maps/place/address"
                class="dib v-mid white no-underline hover-white pre-line"
              >
                Address
              </a>
            </div>

            <div class="flex-l cb">
              <div class="mr3">
                <a
                  class="white no-underline hover-white"
                  href="tel:5555555555"
                  >
                  Phone
                </a>
              </div>
              <div>
                <a 
                  class="white no-underline hover-white" 
                  href="mailto:email@email.com">
                  Email
                </a>

              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
