<section class="relative">
  <img src="{{ .content.image }}" alt="{{ .content.image_alt }}" />
  <div class="absolute h-100 top-0 flex items-center w-100">
    <div class="grid gtc-12 gcp-0625 mw8 w-100 center ph3">
      <div class="gc-7">
        <h1 class="f-5">{{ .content.heading }}</h1>

        <p>{{ .content.text }}</p>

        {{ partial "button" (dict "text" .content.cta_text "link" .content.cta_link) }}
      </div>
    </div>
  </div>
</section>
