<nav class="bg-navy-two">
  <ul class="flex justify-center list ma0 justify-between mw9 center ph3">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
          <a class="white no-underline fw7 hover-michigan-maize" href="#">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
        <ul class="sub-menu">
          {{ range .Children }}
            <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
              <a class="white no-underline fw7 hover-michigan-maize" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      {{ else }}
        <li class="pv3">
          <a class="white no-underline fw7 hover-michigan-maize" href="{{ .URL }}">
            {{ .Pre }}
            <span>{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>