/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes ba,bt,bb,br,bl found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Base:
     b = border

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.b--michigan-blue { border-color: var(--michigan-blue); }
.b--transparent { border-color: var(--transparent); }
.b--inherit { border-color: inherit; }

.hover-b--mustard:hover,
.hover-b--mustard:focus { 
  border-color: var(--mustard); 
}