/*

  BOX-SHADOW
  Docs: http://tachyons.io/docs/themes/box-shadow/

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */

.shadow-1 {
  box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.22);
}

@media (--breakpoint-not-small) {
  .shadow-1-ns {
    box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.22);
  }
}

@media (--breakpoint-medium) {
  .shadow-1-m {
    box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.22);
  }
}

@media (--breakpoint-large) {
  .shadow-1-l {
    box-shadow: 0 11px 22px 0 rgba(0, 0, 0, 0.22);
  }
}
