
.grid {
  display: grid;
}

.gc-4 {
  grid-column: span 4;
}

.gc-6 {
  grid-column: span 6;
}

.gc-7 {
  grid-column: span 7;
}

.gc-12 {
  grid-column: span 12;
}

.gtc-12 {
  grid-template-columns: repeat(12, 1fr);
}

.gcp-0625 {
  grid-column-gap: 0.625rem;
}

@media (--breakpoint-not-small) {
  .gcp-125-ns {
    grid-column-gap: 1.25rem;
  }
}