/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will 
   be set to the current text color. 

*/

/* Text colors */
.michigan-blue {
  color: var(--michigan-blue);
}

.michigan-maize {
  color: var(--michigan-maize);
}

.white {
  color: var(--white);
}

.rich-black {
  color: var(--rich-black);
}

.color-inherit {
  color: inherit;
}

/* Background colors */

.bg-michigan-blue {
  background-color: var(--michigan-blue);
}

.bg-michigan-maize {
  background-color: var(--michigan-maize);
}

.bg-navy-two {
  background-color: var(--navy-two);
}

.bg-white {
  background-color: var(--white);
}

.bg-transparent {
  background-color: var(--transparent);
}
.bg-inherit {
  background-color: inherit;
}
