<!DOCTYPE html>

<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#00274B" />

    <!-- Social metas -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Conditional tag based on the presence of an og-image -->
    {{ with $.Site.Data.social.image }}
      <meta property="og:image" content="{{ $.Site.BaseURL }}{{ . }}" />
    {{ end }}

    <!-- Conditional tags based on whether the user has provided a meta description -->
    {{ with.Params.seo.meta_description }}
      <meta name="description" content="{{ . }}" />
      <meta property="og:description" content="{{ . }}" />
    {{ end }}

    <link rel="stylesheet" href="/main.css" />
    <link rel="manifest" href="/manifest.json" />

    <title>{{ .Title }} | {{ .Site.Title }}</title>
  </head>

  <body class="sans-serif bg-white rich-black">
    {{ partial "skip-link" . }}

    {{ partial "header" . }}

    {{ partial "nav" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer" . }}

    <script src="/app.js"></script>
  </body>
</html>
