{{ define "main" }}

<main class="content flex mw8 mh-auto center justify-between mv4-m mv5-ns flex-column flex-row-l" id="maincontent" data-aos="fade-in">
  <div class="w-100 w-100-m w-75-ns mr-auto ml-auto mha ph3 order-1 order-2-l">
    {{- .Content -}}
    <h2>Search results for: <span class="i" id="search-query"></span></h2>
    <div id="search-results"></div>
  </div>
</main>

{{ end }}