{{ define "main" }}

{{ partial "hero" (dict "content" .Params.hero) }}

<main role="main" id="maincontent" class="ph3">
  <section class="grid gtc-12 gcp-0625 gcp-125-ns mw8 center mv6 ph3">
    {{ range.Params.cards }}
    <div class="gc-4">{{ partial "card" (dict "content" .) }}</div>
    {{ end }}
  </section>
</main>

{{ end }}
